@media (max-width:1200px) {
    .para {
        padding: 44px 0 0 0;
    }
}

@media (max-width:800px) {
    .box {
        max-width: 100%;
    }

}

@media (max-width:768px) {
    .align-text-md-centre {
        text-align: center;
    }
}

@media (max-width:650px) {

    .btnprev,
    .btnnxt {
        display: none;
    }
}

@media (max-width:576px) {}